/* All colours are placeholder so go ahead and change them */

div{
	
}
html, body{/*default background height and margins for html and body,
DON'T TOUCH THIS, it will break the header and footer*/
	background-color:#FFFFFF;
	height:100%;
	margin:0;
	padding:0;
}
header{/*Styling for the header to make it stay at the top and be max width*/
	/*Leave these alone*/
	top:0;
	position:fixed;
	z-index:100;
	width:100%;
	/*use these to change height and colour*/
	height:60px;
	background-color:#000000;
}
/*All this is for the header and the drop down menus,
its a bit messy and complicated so if you want to change
something you might be better off just asking, but
feel free to mess around with it*/
header nav > ul{
	margin:0;
	list-style:none;
	padding:2px 0 0 5%;
}
header > nav > ul > li > form{
	margin-left:87px;
}
header nav > ul > li{
	font-family:"Arial Black", Gadget, sans-serif;
	float:left;
	position:relative;
	display:inline;
}
header > nav > ul > li:first-child a:link, header > nav > ul > li:first-child a:visited, header > nav > ul > li:first-child a:active, header > nav > ul > li:first-child a:hover{
	text-decoration:none;
	color:#CC0000;
	font-size:35px;
	margin:0 5px 0 0;
	padding:0;
	display:inline;
}
header > nav > ul > li:nth-child(n+2) > a{
	text-decoration:none;
	color:#FFFFFF;
	font-size:18px;
	display:block;
	padding:2px 7px 10px 7px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	margin:25px 0 0 0;
	min-width:90px;
}
header > nav > ul > li:nth-child(4) > a{
	width:196px;
}
header > nav > ul > li:nth-child(3) > a{
	padding-right:30px;
}
header > nav > ul > li:nth-child(n+2) > a:hover{
	color:#000000;
	text-decoration:none;
	cursor:default;
}
header nav ul li:nth-child(n+2):hover a{
	background-color:#CC0000;
}
header nav ul ul form{
	background-color:#CC0000;
	width:200px;
	height:125px;
	padding-left:5px;
}
header nav ul ul{
	background-color:transparent;
	list-style:none;
	position:absolute;
	left:-9999px;
	padding:5px 0 0 0;
	margin:0;
	width:100%;
	min-width:90px;
	border-left-style:solid;
	border-left-width:5px;
	border-left-color:#990000;
	box-sizing:border-box;
}
header nav ul ul li a{
	text-decoration:none;
	color:#000000;
	font-size:18px;
	display:block;
	margin:0;
	padding:5px 0 5px 5px;
}
header nav ul ul li:nth-child(n+1) a:hover{
	background-color:#990000;
	text-decoration:none;
}
header nav ul ul li:last-child a:hover{
	border-bottom-right-radius:40px;
	border-bottom-left-radius:2px
}
header nav ul ul li:last-child a, header nav ul ul li:last-child form{
	border-bottom-right-radius:40px;
	border-bottom-left-radius:2px
}
header nav ul li:hover ul{
	top:58px;
	left:0;
}
header img{
	height:40px;
	display:inline-block; /*DISPLAY BLOCK AND INLINE USED HERE-this way is nicer*/
	width:auto;
	background-color:transparent;
	padding-top:8px;
	margin:0;
}
#cart{
	margin-top:12px;
	height:30px;
	width:30px;
}
#cart:hover{
    -webkit-filter: hue-rotate(35deg);
}
header nav > ul > li > form{
	padding:20px;
	padding-top:25px;
}
input[type="text"], input[type="password"]{
	width:160px;
	z-index: 1;
	background: #cc0000;
	color: #000;
	text-decoration: none;
	font-weight: 200;
	font-size: 15px;
	opacity: 0.8;
	border-style:none;
	border-radius:2px;
	min-height:18px;
}
.bl {
	display:block;
	background-color:#000000 !important;
	opacity: 0.2 !important;
}
/*end of main header stuff*/
#secondhead{
	margin:0;
	padding:0;
	height:70px;
	width:100%;
	position:fixed;
	background-color: #CC0000;
	z-index:2;
}
#sidebar{
    float: left;
    width: 225px;
    background: #ccc;
    height:100%;
	position:fixed;
	top:0;
	z-index:1;
	padding:65px 0 0 0;
	margin:0;
	font-family:"Arial Black", Gadget, sans-serif;
}
/*This wrapper makes the footer stay at the bottom even with no content on the page*/
#wrapper{
	min-height:100%;
	overflow:auto;
	font-family:Tahoma, Geneva, sans-serif;
}
#left{
	float:left;
	margin:65px 0 50px 80px;
	text-align:center;
	min-width:800px;
}
#left div{
	margin:auto;
}
#right{
	float:right;
	margin:65px 80px 50px 0;
	min-height:100%;
	max-width:275px;
}
#main{
	margin:0 15px 0 0;
	padding:65px 0 50px 0;
	overflow:auto;
	float:right;
	min-height:100%;
}
#main h1{
	text-align:left;
	margin-left:72px;
}
table{
	text-align:center;
	border-collapse: collapse;
	margin:0;
	padding:0;
}
table img{
	width:110px;
	height:110px;
}
table img:hover{
	opacity:0.7;
}
table td, table th{
	width:110px;
	max-width:110px;
}
table tr{
	border-bottom:solid;
	border-bottom-width:2px;
	border-bottom-color:#CC0000;
}

table tbody tr:last-child{ /*so the last item doesn't have a border after it*/
	border-bottom:none;
}
button.basket{
	color:#fff;
	font-weight: 600;
	font-size: 14px;
	border-style:none;
	background-color:#000;
	border-radius: 4px;
	opacity: 0.4;
	cursor:pointer;
	height:40%;
}
button.basket:hover{
	opacity: 1;
}
.container {
	max-width: 500px;
	text-align: center;
	position: relative;
	display:block;
	margin:auto;
	margin-top:10px;
	background-color: transparent;
}
.container div {
	background-color: transparent;
	display: inline-block;
	display: none;
	margin:auto;
}
.container div img {
	width: 500px;
	height: 500px;
}
button.prev, button.next {
	cursor:pointer;
	position: absolute;
	top: 40%;
	padding: 2% 2%;
	z-index: 1;
	background: #2a2a2a;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	opacity: 0.5;
	border-style:none;
}
button.prev:hover, button.next:hover {
  opacity: 1;
}
button.prev {
	left:0;
	border-radius: 0 8px 8px 0;
}
button.next {
	right: 0;
	border-radius: 8px 0 0 8px;
}
/*all the css for the footer, we probably want to change this a lot make it bigger and have more in it*/
footer{
	margin-top:-50px;
	clear: both;
	position: relative;
	z-index: 10;
	height: 70px;
	background-color:#000000;
	width:100%;
	padding-top:12px;
	text-align:center;
}
footer h4{
	display:inline;
	margin:0;
	padding:0;
	color:#FFFFFF;
}
footer nav{
	display:inline;
	margin:0;
	padding:0;
	color:#FFFFFF;
	background-color:#FFFFFF;
}

footer nav > ul > li{
	position:relative;
	display:inline;
}
footer nav ul li a{
	margin:0 5px;
	text-decoration:none;
	color:#FFFFFF;
}